*{
    font-family: Arial, Verdana, Tahoma;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
header{
    height: 4rem;
    padding: .5rem;
    margin: .5rem;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.home_button{
    font-family: Garamond;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
}
.nav_list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}
.nav_list li{
    font-weight: bold;
    padding: 1rem;
}
main{
    padding: .5rem;
    margin: .5rem;
    height: 47rem;
    background-color: blue;
}

.project_area{
    display:grid;
    justify-content: center;
    width: 100%;
}
.project_area div{
    width: 33%;
}
footer{
    display:grid;
    justify-content: center;
    height: 4rem;
    padding: .5rem;
    margin: .5rem;
    background-color: green;
}
footer h3{
    display: flex;
    justify-content: center;
}
.footer_list{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footer_list li{
    padding: 1rem;
    margin: 1rem;
}