*{
    font-family: Arial, Verdana, Tahoma;
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(StarsBackground.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    height: 4rem;
    padding: .5rem;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.home_button{
    font-family: Garamond;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
}
.nav_list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}
.nav_list li{
    font-weight: bold;
    padding: 1rem;
}
.nav_list a{
    text-decoration: none;
}
main{
    padding: .5rem;
    margin: .5rem;
    height: 47rem;
}
main h1{
    padding: .5rem;
    margin: .5rem;
}
main h2{
    padding: .5rem;
    margin: .5rem;
}
article .p1{
    padding: .5rem;
    margin: .5rem;
    width: 30%;
}

.project_area{
    margin:auto;
    display:grid;
    justify-content: center;
    width: 50%;
}
.project_area div{
    margin:auto;
    width: 33%;
}
footer{
    display:grid;
    justify-content: center;
    height: 4rem;
    padding: .5rem;
    margin: .5rem;
}
footer h3{
    display: flex;
    justify-content: center;
}
.footer_list{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footer_list li{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.blog_post{
    width: 50%;
}
ul.no_bullets{
    list-style-type: none;
}
.blog_section{
    margin: auto;   
    width: 50%;
}
.homelab_section{
    display: flex;
}
.homelab_section article{
    margin-left: 5rem;
    padding: 1rem;
}
.blog_section h1{
    padding: 0;
    margin: 0;
}